# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
tot_school = len(school_data["school_name"].unique())
# Calculate the total number of students
tot_students = student_data["Student ID"].count()
# Calculate the total budget
tot_budget = school_data["budget"].sum()
# Calculate the average math score
avg_math = student_data["math_score"].mean()
# Calculate the average reading score
avg_read = student_data["reading_score"].mean()
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
ove_avg_score = (avg_math + avg_read) / 2
# Calculate the percentage of students with a passing math score (70 or greater)
per_pass_math = student_data.loc[student_data["math_score"] > 70,"math_score"].count() / tot_students * 100
# Calculate the percentage of students with a passing reading score (70 or greater)
per_pass_read = student_data.loc[student_data["reading_score"] > 70,"reading_score"].count() / tot_students * 100
# Create a dataframe to hold the above results
result_DF = pd.DataFrame({
    "Total School" : [tot_school],
    "Total Students" : [tot_students],
    "Total Budget" : [tot_budget],
    "Average Math" : [avg_math],
    "Average Reading" : [avg_read],
    "Overall Average Score" : [ove_avg_score],
    "Percent Pass Math" : [per_pass_math],
    "Percent Pass Reading" : [per_pass_read]})
result_DF
# Optional: give the displayed data cleaner formatting

,Total School,Total Students,Total Budget,Average Math,Average Reading,Overall Average Score,Percent Pass Math,Percent Pass Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,72.392137,82.971662

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
# Create an overview table that summarizes key metrics about each school, including:
gb_sch_name = school_data_complete.groupby("school_name")

# School Name
uni_sch_name = gb_sch_name["school_name"].unique()

# School Type
uni_sch_type = gb_sch_name["type"].unique()

# Total Students
uni_tot_stud = gb_sch_name["Student ID"].count()

# Total School Budget
uni_tot_budg = gb_sch_name["budget"].unique()

# Per Student Budget
per_stud_budg = uni_tot_budg / uni_tot_stud

# Average Math Score
uni_avg_math = gb_sch_name["math_score"].mean()

# Average Reading Score
uni_avg_read = gb_sch_name["reading_score"].mean()

# % Passing Math
math_org = school_data_complete.loc[school_data_complete["math_score"]>70,:]
math_df = math_org.groupby("school_name")
uni_pass_math = math_df["math_score"].count() / uni_tot_stud * 100

# % Passing Reading
read_org = school_data_complete.loc[school_data_complete["reading_score"]>70,:]
read_df = read_org.groupby("school_name")
uni_pass_read = read_df["reading_score"].count() / uni_tot_stud * 100

# Overall Passing Rate (Average of the above two)
over_pass_rate = (uni_pass_math + uni_pass_read)/2

#Create a dataframe to hold the above results
by_sch_data = pd.DataFrame({
    "School Name": uni_sch_name.str[0],
    "School Type": uni_sch_type.str[0],
    "Total Student": uni_tot_stud,
    "Total School Budget": uni_tot_budg.str[0],
    "Per Student Budget": per_stud_budg.str[0],
    "Average Math Score": uni_avg_math,
    "Average Reading Score": uni_avg_read,
    "Passing Math": uni_pass_math,
    "Passing Reading": uni_pass_read,
    "Overall Passing Rate": over_pass_rate
})
by_sch_data = by_sch_data.set_index("School Name")
by_sch_data

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.713896,93.392371,91.553134
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,78.187702,71.467098
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,92.740047,91.686183
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.892107,92.617831,91.254969
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,90.214067,92.905199,91.559633
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,93.444444,91.861111

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
#Sort and display the top five schools in overall passing rate
top_per_sch = by_sch_data.sort_values(["Overall Passing Rate"],ascending=False)
top_per_sch.reset_index(inplace=True)
top_per_sch.head(5)

,School Name,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
1,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
2,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,93.444444,91.861111
3,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
4,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,92.740047,91.686183

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
#Sort and display the five worst-performing schools
bot_per_sch = by_sch_data.sort_values(["Overall Passing Rate"],ascending=True)
bot_per_sch.reset_index(inplace=True)
bot_per_sch.head(5)

,School Name,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
1,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
2,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
3,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
4,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,78.187702,71.467098

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school
#9th
nine_df = school_data_complete.loc[school_data_complete["grade"] == "9th",:]
nine_grp_df = nine_df.groupby("school_name")
nine_math_avg = nine_grp_df["math_score"].mean()

#10th
ten_df = school_data_complete.loc[school_data_complete["grade"] == "10th",:]
ten_grp_df = ten_df.groupby("school_name")
ten_math_avg = ten_grp_df["math_score"].mean()

#11th
elev_df = school_data_complete.loc[school_data_complete["grade"] == "11th",:]
elev_grp_df = elev_df.groupby("school_name")
elev_math_avg = elev_grp_df["math_score"].mean()

#12th
twel_df = school_data_complete.loc[school_data_complete["grade"] == "12th",:]
twel_grp_df = twel_df.groupby("school_name")
twel_math_avg = twel_grp_df["math_score"].mean()

#combine into data frame
avg_math_sch = pd.DataFrame({
    "9th Grade Math Avg" : nine_math_avg,
    "10th Grade Math Avg" : ten_math_avg,
    "11th Grade Math Avg" : elev_math_avg,
    "12th Grade Math Avg" : twel_math_avg,
})

#clean data format


avg_math_sch.head(20)

,9th Grade Math Avg,10th Grade Math Avg,11th Grade Math Avg,12th Grade Math Avg
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school

#no nead to remake organization as it was called previously.
#9th
nine_read_avg = nine_grp_df["reading_score"].mean()

#10th
ten_read_avg = ten_grp_df["reading_score"].mean()

#11th
elev_read_avg = elev_grp_df["reading_score"].mean()

#12th
twel_read_avg = twel_grp_df["reading_score"].mean()

#combine into data frame
avg_read_sch = pd.DataFrame({
    "9th Grade Read Avg" : nine_read_avg,
    "10th Grade Read Avg" : ten_read_avg,
    "11th Grade Read Avg" : elev_read_avg,
    "12th Grade Read Avg" : twel_read_avg,
})

#clean data format


avg_read_sch.head(20)

,9th Grade Read Avg,10th Grade Read Avg,11th Grade Read Avg,12th Grade Read Avg
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [9]:
sch_spend_df = by_sch_data[["Per Student Budget","Average Math Score","Average Reading Score","Passing Math","Passing Reading","Overall Passing Rate"]]
sch_spend_df["Per Student Budget Range"] = pd.cut(by_sch_data["Per Student Budget"],spending_bins,labels=group_names)
sch_spend_df

C:\Users\Eric Tsai\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate,Per Student Budget Range
School Name,,,,,,,
Bailey High School,628.0,77.048432,81.033963,64.630225,79.300643,71.965434,$615-645
Cabrera High School,582.0,83.061895,83.975780,89.558665,93.864370,91.711518,<$585
Figueroa High School,639.0,76.711767,81.158020,63.750424,78.433367,71.091896,$615-645
Ford High School,644.0,77.102592,80.746258,65.753925,77.510040,71.631982,$615-645
Griffin High School,625.0,83.351499,83.816757,89.713896,93.392371,91.553134,$615-645
Hernandez High School,652.0,77.289752,80.934412,64.746494,78.187702,71.467098,$645-675
Holden High School,581.0,83.803279,83.814988,90.632319,92.740047,91.686183,<$585
Huang High School,655.0,76.629414,81.182722,63.318478,78.813850,71.066164,$645-675
Johnson High School,650.0,77.072464,80.966394,63.852132,78.281874,71.067003,$645-675
Pena High School,609.0,83.839917,84.044699,91.683992,92.203742,91.943867,$585-615
Rodriguez High School,637.0,76.842711,80.744686,64.066017,77.744436,70.905226,$615-645
Shelton High School,600.0,83.359455,83.725724,89.892107,92.617831,91.254969,$585-615
Thomas High School,638.0,83.418349,83.848930,90.214067,92.905199,91.559633,$615-645
Wilson High School,578.0,83.274201,83.989488,90.932983,93.254490,92.093736,<$585
Wright High School,583.0,83.682222,83.955000,90.277778,93.444444,91.861111,<$585

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [11]:
sch_size_df = by_sch_data[["Per Student Budget","Average Math Score","Average Reading Score","Passing Math","Passing Reading","Overall Passing Rate","Total Student"]]
sch_size_df["School Size Range"] = pd.cut(by_sch_data["Total Student"],size_bins,labels=group_names)
sch_size_df

C:\Users\Eric Tsai\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate,Total Student,School Size Range
School Name,,,,,,,,
Bailey High School,628.0,77.048432,81.033963,64.630225,79.300643,71.965434,4976,Large (2000-5000)
Cabrera High School,582.0,83.061895,83.975780,89.558665,93.864370,91.711518,1858,Medium (1000-2000)
Figueroa High School,639.0,76.711767,81.158020,63.750424,78.433367,71.091896,2949,Large (2000-5000)
Ford High School,644.0,77.102592,80.746258,65.753925,77.510040,71.631982,2739,Large (2000-5000)
Griffin High School,625.0,83.351499,83.816757,89.713896,93.392371,91.553134,1468,Medium (1000-2000)
Hernandez High School,652.0,77.289752,80.934412,64.746494,78.187702,71.467098,4635,Large (2000-5000)
Holden High School,581.0,83.803279,83.814988,90.632319,92.740047,91.686183,427,Small (<1000)
Huang High School,655.0,76.629414,81.182722,63.318478,78.813850,71.066164,2917,Large (2000-5000)
Johnson High School,650.0,77.072464,80.966394,63.852132,78.281874,71.067003,4761,Large (2000-5000)
Pena High School,609.0,83.839917,84.044699,91.683992,92.203742,91.943867,962,Small (<1000)
Rodriguez High School,637.0,76.842711,80.744686,64.066017,77.744436,70.905226,3999,Large (2000-5000)
Shelton High School,600.0,83.359455,83.725724,89.892107,92.617831,91.254969,1761,Medium (1000-2000)
Thomas High School,638.0,83.418349,83.848930,90.214067,92.905199,91.559633,1635,Medium (1000-2000)
Wilson High School,578.0,83.274201,83.989488,90.932983,93.254490,92.093736,2283,Large (2000-5000)
Wright High School,583.0,83.682222,83.955000,90.277778,93.444444,91.861111,1800,Medium (1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [12]:
sch_type_df = by_sch_data[["Per Student Budget","Average Math Score","Average Reading Score","Passing Math","Passing Reading","Overall Passing Rate","Total Student","School Type"]]
sch_type_df["School Size Range"] = pd.cut(by_sch_data["Total Student"],size_bins,labels=group_names)
sch_type_df

,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate,Total Student,School Type,School Size Range
School Name,,,,,,,,,
Bailey High School,628.0,77.048432,81.033963,64.630225,79.300643,71.965434,4976,District,Large (2000-5000)
Cabrera High School,582.0,83.061895,83.975780,89.558665,93.864370,91.711518,1858,Charter,Medium (1000-2000)
Figueroa High School,639.0,76.711767,81.158020,63.750424,78.433367,71.091896,2949,District,Large (2000-5000)
Ford High School,644.0,77.102592,80.746258,65.753925,77.510040,71.631982,2739,District,Large (2000-5000)
Griffin High School,625.0,83.351499,83.816757,89.713896,93.392371,91.553134,1468,Charter,Medium (1000-2000)
Hernandez High School,652.0,77.289752,80.934412,64.746494,78.187702,71.467098,4635,District,Large (2000-5000)
Holden High School,581.0,83.803279,83.814988,90.632319,92.740047,91.686183,427,Charter,Small (<1000)
Huang High School,655.0,76.629414,81.182722,63.318478,78.813850,71.066164,2917,District,Large (2000-5000)
Johnson High School,650.0,77.072464,80.966394,63.852132,78.281874,71.067003,4761,District,Large (2000-5000)
Pena High School,609.0,83.839917,84.044699,91.683992,92.203742,91.943867,962,Charter,Small (<1000)
Rodriguez High School,637.0,76.842711,80.744686,64.066017,77.744436,70.905226,3999,District,Large (2000-5000)
Shelton High School,600.0,83.359455,83.725724,89.892107,92.617831,91.254969,1761,Charter,Medium (1000-2000)
Thomas High School,638.0,83.418349,83.848930,90.214067,92.905199,91.559633,1635,Charter,Medium (1000-2000)
Wilson High School,578.0,83.274201,83.989488,90.932983,93.254490,92.093736,2283,Charter,Large (2000-5000)
Wright High School,583.0,83.682222,83.955000,90.277778,93.444444,91.861111,1800,Charter,Medium (1000-2000)